/* HEADER */
body{
    margin:0px;
    
}

p{
    margin:0px;
}

header{
    background-color:#293462;
    position:-webkit-sticky;
    position:sticky;
    top: 0px;
}

nav{
    display:flex;
    border:dotted rgb(0, 195, 255);
    justify-content:space-between;
    align-items:stretch;
}


.logo{
    margin-left:15px;
    border: dotted fuchsia;
}

ul{
    display:flex;
    list-style:none;
    padding:0px;
    border:dotted red ;
    height:100%;
    align-items:stretch;
}

li{
    display:flex;
    justify-content:center;
    border-style:dotted;
    border-color:rgb(0, 26, 255);
    color:#FFF1C1;
    width:33%;
    min-width: 70px;
    align-content:stretch;
}

.ifs{
    border:dotted rgb(255, 133, 153);
    display:flex;

}
/* BODY */


    /*  PRESENTATION  */

    .start{
        display:flex;
        justify-content:center;
        background-image:url(../pics_accueil/pragues_flou.png);
    }