body{   
    background-image:url(./Page\ de\ Luxe\ v6.png);
    background-position: center;
    background-size: 2000px 2000px ;
    background-repeat: no-repeat;
}

.voyage{
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        margin-top: 50px;
}

H1{
    color: #fff1c1;
    text-decoration: underline;
}

.Moscou{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.img{
    border-radius:15px;
    border:solid #fff1c1;
    width:900px;
    height: 600px;
    background-image:url(./Moscou\ 2.jpg);
    transition: all 1s;
}

.img:hover,
.img:focus{
    background-image:url(./Moscou\ 2VF.png);
}

.img2:hover,
.img2:focus{
    background-image:url(./vienne_1.jpg);
}

.img2{
    border-radius:15px;
    border:solid #fff1c1;
    width:900px;
    height: 600px;
    background-image:url(./Moscou\ 2.jpg);
    transition: all 1s;
}